/* masquer le header sur la home page */
.home.has_trans_header .head_top
{
	display:none;
}

/* sous-menus en bleu */
.sub-menu li
{
	background-color:rgb(0, 113, 183);
}

/* mouseover sur les sous-menus  */
.sub-menu .menu-item-type-post_type :hover
{
	color: rgb(0, 113, 183) !important;
	background-color:rgb(248, 195, 1) !important;
}

#menu-item-3415 ul a:hover
{
  color:rgb(0, 113, 183) !important;
}

#menu-item-3445 ul a:hover
{
  color:rgb(0, 113, 183) !important;
}

#menu-item-3447 ul a:hover
{
  color:rgb(0, 113, 183) !important;
}

#topmenu ul li ul:not(.mega-sub-menu)
{
	background-color:transparent !important;
}

/* center menu */
#topmenu
{
	float:none !important;
	text-align:center !important;
}